@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


* {
  text-decoration: none;
  list-style: none;
  margin: 0;
}

body {
  font-size: 1rem;
  color: #fff;
  background-color: #256aa3;
  box-shadow: 0px 0px 100px #00000038 inset;
  position: relative;
}

a {
  text-decoration: none;
  color: #ffff;
}
a:hover {
  color: #ffffff;
}
main {
  display: flex;
  flex-direction: column;
}

.header-header {
  background: #03091e33;
  border-bottom: 1px solid #29348f7a;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.0rem;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #035aa688;
  position: block;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding-top: 0vw;
  padding-right: 1vw;
  padding-bottom: 0vw;
  padding-left: 1vw;
}

.header-header a {
  
   border-radius: 3px solid transparent;
}
 .logo a{
  border-bottom: 3px solid transparent!important;
}

.link {
  background: none;
  width: 11vw;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.link:hover{
  background: rgba(23, 23, 26, 0.534);
  border-bottom: 3px solid rgb(255, 255, 255);
  border-radius: 2px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-nav {
  background-color: rgba(2, 2, 2, 0.363);
  min-width: 5vw;
  min-height: 50px;
  border-radius: 4px;
  border-color: rgba(12, 12, 12, 0);
  --bs-btn-border-color: rgba(12, 12, 12, 0);
  --bs-btn-hover-bg: rgba(12, 12, 12, 0.295);
  --bs-btn-hover-border-color: rgba(12, 12, 12, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 1px black;
}

.card-title {
  color: #91bbf2;
}

.img-logo {
  width: 12vw;
  position: absolute;
  
}

.menu {
  display: flex;
  
  align-items: center;
}

.menu-lista {
  display: flex;
  gap: 0.5vw;
  margin-right: 2vw;
}
.menu li a {
  display: block;
  padding: 14px;
}
.sobre {
  text-align: center;
  margin: 10vw;
}
.carousel {
  margin-top: 3vw;
  flex: 1;
  width: 100%;
}
.conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}
.valores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.valores-conteudo {
  display: flex;
  justify-content: space-between;
  padding: 5vw;
  gap: 10vw;
}
#missao,
#visao,
#valores {
  text-align: center;
}

.valores-conteudo-caixa {
  background-color: #91bbf257;
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border-radius: 10px;
  position: relative;
}

.valores-conteudo-caixa p{
  font-size: 0.9rem;
  align-self: baseline;
  margin: 10px;
}
.valores-conteudo-caixa h6{
  margin: 10px;
  position: absolute;
  top: 90px;
}

footer {
  background-color: #03121f;
  width: 100%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer-conteudo {
  display: flex;
  justify-content: center;
  gap: 10vw;
}
.footer-logo {
  flex: 1;
}
.footer-conteudo-caixa {
  display: flex;
  flex-direction: column;
  padding: 2vw;
}
.redes-sociais {
  display: flex;
  gap: 1vw;
}
.footer-bottom {
  margin: auto;
  background-color: black;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 5px;
}
.footer-bottom p {
  margin: 0;
}
.footer-to-top {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.438);
  padding: 5px;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  position: fixed;
  right: 2vw;
  bottom: 2vw;
}
.imagem {
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 33%);
  margin-bottom: 2vw;
}
.icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(105%) contrast(101%);
}
.valores-conteudo-caixa .icon {
  margin: 10px;
  position: absolute;
  top: 20px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(105%) contrast(101%);
}


.login {
  width: 30rem !important;
  margin: 20px;
  background-color: #9ec9eb;
  background-image: linear-gradient(135deg, #d2e3fd 0%, #d2e3fd 100%);
  color: #58616e ;
  font-family: 'Source Sans Pro', sans-serif;
}

.buttons {
  background-color: rgb(34, 92, 199) !important;
  border-color: rgb(34, 92, 199) !important;
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 25%)!important;
}

.button-login {
  color: rgb(218, 212, 212);
  background-color: rgba(255, 255, 255, 0);
  border-color:rgb(218, 212, 212);
  border-radius: 5px;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.521);
  
}

.wall {
  display: flex;
  justify-content: space-around;
  
}

.register-title {
  color: #285088 ;
}

.user-options {
  margin: 5px;
}

.user-options-div {
  display: flex;
  justify-content: space-around;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #163147;
}

body::-webkit-scrollbar-thumb {
  background-color: #0c1f30;
  border-radius: 10px;
  border: 3px solid #163147;
}