@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.div-home {
    font-family: 'Open Sans', sans-serif;
}

.depoimentos {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw;
    margin: 10vw;
    flex: 1;
    justify-content: center;
  }
  .depoimentos-conteudo {
    display: flex;
    justify-content: space-around;
    padding: 3vw;
    gap: 3vw;
  }
  .depoimentos-conteudo-caixa {
    min-width: 30vw;
    min-height: 30vw;
    display: flex;
    max-width: 20vw;
    max-height: 30vw;
    object-fit: cover!important;
    display: inline-flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
  
    padding: 1vw;
    gap: 1vw;
    text-align: start;
    background-color: #0115262a;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432);
    
  }
.depoimento-div{
    min-width: 30vw;
    min-height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

  .empresa {
    font-size: 14px;
    padding: 1vw;
    font-weight: bold;
    color: #111b36;
  }
  .depoimentos-conteudo-caixa-descrição {
    text-align: justify ;
    
    text-justify: inter-word;
    font-size: 16px;
    display: flex;
    align-items: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin-left: 3vw;
    margin-right: 3vw;
    }
  
  .depoimentos-conteudo-caixa-autor {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vw;
  }
